streamlit
streamlit-option-menu
pandas
spacy
textacy
matplotlib
ploty
numpy
wordcloud
requests
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
